<div
  class="card mt-3 carder"
  [ngClass]="{'bg-success text-white' : task.completed, 'shadow-lg': task.isEdit}"
>
  <div class="card-body">
    <p class="card-text">{{task.title}}</p>
    <button
      class="btn btn-primary mr-2"
      (click)="editTask()"
    >
      Edit
    </button>
    <button
      class="btn btn-danger mr-2"
      (click)="deleteTask()"
    >
      Delete
    </button>
    <button
      class="btn btn-primary"
      [ngClass]="{'btn-secondary': task.completed}"
      (click)="toggleComplete()"
    >
      {{task.completed ? 'Undone' : 'Done'}}
    </button>
  </div>
</div>
