<div class="card">
  <div class="card-body">
    <form
      #form="ngForm"
      novalidate
    >
      <div class="form-group">
        <label for="title">Text</label>
        <input
          type="text"
          class="form-control"
          id="title"
          name="title"
          [(ngModel)]="title"
          #taskTitle="ngModel"
          required
        />
      </div>
      <div
        class="alert alert-danger"
        *ngIf="taskTitle.touched && taskTitle.invalid && taskTitle.dirty"
      >
        Поле обязательно
      </div>
      <button
        class="btn btn-primary"
        [disabled]="taskTitle.invalid"
        *ngIf="!isEdit"
        (click)="addTask()"
      >
        Add task
      </button>
      <button
        class="btn btn-primary"
        *ngIf="isEdit"
        [disabled]="taskTitle.invalid"
        (click)="editTask()"
      >
        Accept
    </button>
    <button
        class="btn btn-secondary ml-2"
        *ngIf="isEdit"
        [disabled]="taskTitle.invalid"
        (click)="canselEditing()"
      >
        Cansel
    </button>
    </form>
  </div>
</div>
